@import "tailwindcss";


@layer components {
  .btn-primary {
    cursor: pointer;
    background-color: var(--color-blue-500);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:hover     
{
      @media (hover: hover) {
        background-color: var(--color-blue-700);
      }
    }
  }
}